# Django settings
DJANGO_ENV=production
DEBUG=1
SECRET_KEY=your-very-secure-secret-key
ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0

# PostgreSQL settings
DB_NAME=agent_api_db
DB_USER=agent_api_user
DB_PASSWORD=your-db-password
DB_HOST=db
DB_PORT=5432

REGISTRATION_API_KEY=your-registration-api-key
